body {
  background-image: url(asylum.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  animation: background-animation 100s infinite;
}

@keyframes background-animation {
  0% {
    background-image: url(asylum.jpg);
  }
  25% {
    background-image: url(shed.jpg);
  }
  30% {
    background-image: url(image.jpg);
  }
  45% {
    background-image: url(couryard.jpg);
  }
  80% {
    background-image: url(backimage5.jpg);
  }
  100% {
    background-image: url(hallway.jpg);
  }
}

/* container for header and content - for positioning */
#game-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* audio player - hidden by default */
audio {
  display: none;
}

/* header */
.header {
  background-color: black;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header headline */
.header h1 {
  font-weight: bold;
  padding-left: 15px;
  font-size: 30px;
  font-family: 'Creepster', Helvetica, sans-serif;
}

.header h1 span {
  color: rgba(235, 21, 18, 1);
  font-size: 40px;
}

.header #menu-bar {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  padding: 0 6px;
}

.header #menu-bar div {
  background-color: rgba(235, 21, 18, 1);
  width: 35px;
  height: 5px;
  transition: 0.4s ease-in-out;
  margin: 6px 0;
}

.header .menu-bar-active .first-bar {
  transform: rotate(-135deg) translate(-8px, -8px) !important;
}

.header .menu-bar-active .second-bar {
  opacity: 0 !important;
}

.header .menu-bar-active .third-bar {
  transform: rotate(135deg) translate(-8px, 8px) !important;
}

.header #buttons {
  width: 200px;
  height: auto;
  position: absolute;
  top: 100px;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  transition: 0.4s linear;
}

/* rules and highscore button */
.header button {
  outline: none;
  width: 100%;
  color: rgba(235, 21, 18, 1);
  background-color: #000;
  border: none;
  padding: 10px 20px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  font-family: 'Fjalla One', Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

/* content div for game
   keeps game container positioned in center */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* container for game text and buttons */
.container {
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
  margin: auto;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

/* grid for option buttons */
.btn-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
}

/* game option buttons */
.btn {
  opacity: 0.7;
  background-color: red;
  border: 1px solid rgb(158, 10, 10);
  border-radius: 5px;
  padding: 10px 10px;
  color: black;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Fjalla One', Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

.btn:hover {
  background-color: darkred;
}

/* game over modal */
#game-over {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

#game-over #inner {
  background: #000;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}

/* Highscore list inside game over modal*/
#game-over #highscore {
  width: 80%;
  margin: 0 auto 50px;
  display: none;
  color: #fff;
  text-align: center;
}

#game-over #highscore h1 {
  margin: 20px;
}

#game-over #highscore div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 10%;
}

#game-over #highscore p {
  padding: 10px;
}

#game-over #highscore .name {
  text-align: left;
}

#game-over #highscore .score {
  text-align: right;
}

/* name input inside game over modal*/
#game-over #name-input {
  display: none;
  margin: 50px auto;
}

#game-over #name-input h1 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

#game-over #name-input #user-input {
  width: 200px;
  display: block;
  margin: auto;
  box-sizing: border-box;
  padding: 5px;
}

#game-over #name-input #error {
  display: none;
  font-size: 10px;
  margin-top: 5px;
  color: red;
  text-align: center;
}

#game-over #name-input button {
  font-size: 10px;
  display: block;
  margin: 20px auto 0;
  padding: 5px 10px;
}

/* restart button */
#game-over #restart {
  outline: none;
  background-color: rgba(235, 21, 18, 0.8);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'Fjalla One', Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

/* highscore list - highscore button */
#highscore-modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#highscore-modal #content {
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  color: #fff;
}

#highscore-modal #content div {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#highscore-modal #content div p {
  padding: 10px;
}

#highscore-modal #content div .name {
  text-align: left;
}

#highscore-modal #content div .score {
  text-align: right;
}

@media only screen and (min-width: 600px) {
  .header #menu-bar {
    display: none;
  }

  .header #buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    position: unset;
    background-color: transparent;
  }

  /* rules and highscore button */
  .header button {
    outline: none;
    background-color: rgba(235, 21, 18, 0.8);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Fjalla One', Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  .header button:hover {
    background-color: rgba(235, 21, 18, 1);
  }
}
