body {
  background-image: url(backimage5.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

/* container for header and content - for positioning */
#game-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* audio player - hidden by default */
audio {
  display: none;
}

/* header */
.header {
  background-color: black;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header headline */
.header h1 {
  font-weight: bold;
  padding-left: 15px;
  font-size: 30px;
  font-family: 'Creepster', Helvetica, sans-serif;
}

.header h1 span {
  color: rgba(235, 21, 18, 1);
  font-size: 40px;
}

/* rules and highscore button */
.header button {
  outline: none;
  background-color: rgba(235, 21, 18, 0.8);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  margin-right: 40px;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Fjalla One', Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.header button:hover {
  background-color: rgba(235, 21, 18, 1);
}

/* content div for game
   keeps game container positioned in center */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* container for game text and buttons */
.container {
  width: 100%;
  max-width: 500px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
  margin: auto;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

/* grid for option buttons */
.btn-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
}

/* game option buttons */
.btn {
  opacity: 0.7;
  background-color: red;
  border: 1px solid rgb(158, 10, 10);
  border-radius: 5px;
  padding: 10px 10px;
  color: black;
  outline: none;
  font-weight: bold;
}

.btn:hover {
  background-color: darkred;
}
