* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
}

.header {
  background-color: black;
  width: 100%;
  text-align: center;
}

.header h1 {
  color: rgba(235, 21, 18, 1);
  font-family: 'Creepster', Helvetica, sans-serif;
  font-size: 100px;
  letter-spacing: 5px;
}

.header em {
  color: rgba(235, 21, 18, 0.7);
  font-family: 'Fjalla One', Helvetica, sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 900;
}

#buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
}

#buttons span {
  color: rgba(235, 21, 18, 0.5);
  border: 2px solid;
  padding: 25px 50px;
  margin: 10px 0;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Fjalla One', Helvetica, sans-serif;
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
  border-radius: 4px;
}

#buttons span:hover {
  color: rgba(235, 21, 18, 1);
  text-shadow: 0 0 10px rgba(235, 21, 18, 1);
  box-shadow: 0 0 20px rgba(235, 21, 18, 1);
}

@media only screen and (min-width: 450px) {
  #buttons {
    grid-template-columns: 1fr 1fr;
  }

  #buttons span {
    margin: 0 20px;
  }
}
