* {
  margin: 0;
  padding: 0;
}

/* div for rules.html - hidden by default */
#rules-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

/* rules modal */
#rules-modal {
  background-image: url(oldpaper.jpg);
  background-size: cover;
  width: 40%;
  height: 50%;
  min-height: 500px;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rules-modal #close {
  position: absolute;
  right: 10px;
  z-index: 10000;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

#rules-modal #close:hover,
#rules-modal #close:focus {
  color: #fff;
}

#rules-modal h1 {
  font-size: 40px;
  font-family: 'Fjalla One', Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}

#rules-modal #text {
  font-size: 30px;
  font-family: 'Cookie', Helvetica, sans-serif;
  display: block;
  width: 80%;
  margin: 0 10%;
}
